<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Health'Care</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ asset('BackOffice/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('BackOffice/css/bootstrap-responsive.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('BackOffice/css/fullcalendar.css') }}"/>
    <link rel="stylesheet" href="{{ asset('BackOffice/css/matrix-style.css') }}"/>
    <link rel="stylesheet" href="{{ asset('BackOffice/css/matrix-media.css') }}"/>
    <link href="{{ asset('BackOffice/font-awesome/css/font-awesome.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ asset('BackOffice/css/jquery.gritter.css') }}"/>
    <link href='{{ asset('http://fonts.googleapis.com/css?family=Open+Sans:400,700,800') }}' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" href="{{ asset('BackOffice/css/tableArticle.css') }}"/>
</head>
<body>


<!--Header-part-->
<div id="header">

</div>
<!--close-Header-part-->


<!--top-Header-menu-->

<!--close-top-Header-menu-->
<!--start-top-serch-->
<div id="search">

</div>
<!--close-top-serch-->
<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Administration</a>
    <ul>
        <li class="active"><a href="index.html"><i class="icon icon-home"></i> <span>Home </span></a></li>

        <li><a href="{{ path('EventBackOffice') }}"><i class="icon icon-th"></i> <span>Evenements</span></a></li>
        <li><a href="{{ path('ArticleBackOffice') }}"><i class="icon icon-pencil"></i> <span>Article</span></a></li>
        <li class="submenu"><a href="#"><i class="icon icon-th-list"></i> <span>Gestion Offres & Pubs</span>
            <ul>
                <li><a href="{{ path('affichageOffre') }}"><i class="icon icon-fullscreen"></i> <span>Offres</span></a></li>
                <li><a href="{{ path('affichagePublicite') }}"><i class="icon icon-fullscreen"></i> <span>Publicite</span></a></li>
            </ul>
        </li>
        <li><a href=""><i class="icon icon-th"></i> <span>Espace</span></a></li>
        <li><a href="{{ path('Gestion_Evaluation') }}"><i class="icon icon-signal"></i> <span>Evaluation</span></a></li>
        <li><a href="{{ path('StatForumBackOffice') }}"><i class="icon icon-th"></i> <span>Forum</span></a></li>

        <li class="submenu"><a href="{{ path('Gestion_Commandes') }}"><i class="icon icon-th-list"></i> <span>Gestion Magsin</span> <span class="label label-important"></span></a>
            <ul>
                <li><a  href="{{ path('Gestion_Fournisseur') }}">Gestion des fournisseur</a></li>
                <li><a href="{{ path('Gestion_Produit') }}">Gestion Produit</a></li>
                <li><a href="{{ path('Gestion_Stock') }}">Gestion Stock</a></li>
                <li><a href="{{ path('Gestion_Commandes') }}">Gestion des Livraison</a></li>
            </ul>
        </li>
       
        </li>
    </ul>
</div>
<!--sidebar-menu-->

<!--main-container-part-->
<div id="content">
    <!--breadcrumbs-->


    <div id="content-header">
        <div id="breadcrumb"><a href="{{ path('IndexBackOffice') }}" title="Go to Home" class="tip-bottom"><i
                        class="icon-home"></i> Home</a>
            {% block titre %}
            {% endblock %}
        </div>
        <h1>{% block titre2 %}{% endblock %}</h1>
    </div>
    <!--End-breadcrumbs-->

    <!--Action boxes-->
    {% block body %}
    {% endblock %}
</div>

<!--end-main-container-part-->

<!--Footer-part-->

<div class="row-fluid">
    <div id="footer" class="span12"> Health'Care Espace Administratif</a>
    </div>
</div>

<!--end-Footer-part-->

<script src="{{ asset('BackOffice/js/excanvas.min.js') }}"></script>
<script src="{{ asset('BackOffice/js/jquery.min.js') }}"></script>
<script src="{{ asset('BackOffice/js/jquery.ui.custom.js') }}"></script>
<script src="{{ asset('BackOffice/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('BackOffice/js/jquery.flot.min.js') }}"></script>
<script src="{{ asset('BackOffice/js/jquery.flot.resize.min.js') }}"></script>
<script src="{{ asset('BackOffice/js/jquery.peity.min.js') }}"></script>
<script src="{{ asset('Backoffice/js/fullcalendar.min.js') }}"></script>
<script src="{{ asset('BackOffice/js/matrix.js') }}"></script>
<script src="{{ asset('BackOffice/js/matrix.dashboard.js') }}"></script>
<script src="{{ asset('BackOffice/js/jquery.gritter.min.js') }}"></script>
<script src="{{ asset('BackOffice/js/matrix.interface.js') }}"></script>
<script src="{{ asset('BackOffice/js/matrix.chat.js') }}"></script>
<script src="{{ asset('BackOffice/js/jquery.validate.js') }}"></script>
<script src="{{ asset('BackOffice/js/matrix.form_validation.js') }}"></script>
<script src="{{ asset('BackOffice/js/jquery.wizard.js') }}"></script>
<script src="{{ asset('BackOffice/js/jquery.uniform.js') }}"></script>
<script src="{{ asset('BackOffice/js/select2.min.js') }}"></script>
<script src="{{ asset('BackOffice/js/matrix.popover.js') }}"></script>
<script src="{{ asset('BackOffice/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('BackOffice/js/matrix.tables.js') }}"></script>

<script type="text/javascript">
    // This function is called from the pop-up menus to transfer to
    // a different page. Ignore if the value returned is a null string:
    function goPage(newURL) {

        // if url is empty, skip the menu dividers and reset the menu selection to default
        if (newURL != "") {

            // if url is "-", it is this page -- reset the menu:
            if (newURL == "-") {
                resetMenu();
            }
            // else, send page to designated URL
            else {
                document.location.href = newURL;
            }
        }
    }

    // resets the menu selection upon entry to this page:
    function resetMenu() {
        document.gomenu.selector.selectedIndex = 2;
    }
</script>
</body>
</html>
